# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/
Debug/
/ForceCrash/.vs/ForceCrash/v15/ipch
ForceCrash/.vs/ForceCrash/v15/Browse.VC.opendb
/ForceCrash/ForceCrash/Release
/ForceCrash/.vs/ForceCrash/v15/*.suo
/ForceCrash/*.suo
/ForceCrash/Release/*.pdb
/ForceCrash/*.sdf
